pytesseract
transformers
torch 
torchvision
huggingface_hub[hf_xet]
easyocr
paddlepaddle
tiktoken
sentencepiece
protobuf
ultralytics
transformers[torch]
einops 
timm 
peft 
sentencepiece 
flash_attn
setuptools